@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Inter", sans-serif;
  --color-brand: #8B7355;
  --color-brand-dark: #2C2C2C;
  --color-bg-main: #FAF8F5;
  --color-accent-soft: #F2EFE9;
  --color-border-gold: #D4C3A3;
}

@layer base {
  body {
    @apply font-sans bg-bg-main text-brand-dark overflow-hidden h-screen;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #E5E5E5;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #D4C3A3;
}

.correct-diff-word {
  @apply text-brand font-black bg-brand/5 px-1 rounded-sm border-b-2 border-brand/20 not-italic;
}

.wrong-diff-word {
  @apply text-red-500 font-black bg-red-50 px-1 rounded-sm border-b-2 border-red-200 not-italic;
}
